<h5>ログイン</h5>
<div *ngIf="errors && errors.length>0">
    <p *ngFor="let error of errors">{{ error.detail }}</p>
</div>
<form [formGroup]="LoginForm" (ngSubmit)="login()">
    <table>
        <tr>
            <td><div class="itemName">ログインID</div></td>
            <td>
            <input 
                type="text" 
                id="loginId" 
                formControlName="loginId"
                required
            /></td>
        </tr>
        <tr>
            <td><div class="itemName">パスワード</div></td>
            <td>
            <input 
                type="password" 
                id="password" 
                formControlName="password" 
                required
            /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" [disabled]="!LoginForm.valid"/></td>
        </tr>
    </table>
</form>