table{
  width: 246px;
  border:1px black solid;
  border-collapse: collapse;
}
th,td{
  border:1px black solid;
}
input[type="text"]{
  width: 165px;
  padding: 0;
  line-height: 28px;
}
.itemName{
  width: 100px;
}
