<h5>収入登録</h5>
<form [formGroup]="IncomeForm" (ngSubmit)="inputIncome()">
    <table>
        <tr>
            <td>収入年月：</td>
            <td>
                <input 
                    type="text" 
                    id="incomeRegistDate"
                    formControlName="incomeRegistDate"
                    required
                />
            </td>
        </tr>
        <tr>
            <td>収入金額：</td>
            <td>
                <input 
                    type="text" 
                    id="incomePrice"
                    formControlName="incomePrice"
                    required
                />
            </td>
        </tr>
        <tr>
            <td>収入登録者：</td>
            <td>
                <select id="incomeRegistFlg" formControlName="incomeRegistFlg" required>
                    <option value="1">あみ</option>
                    <option value="2">しゅんすけ</option>
                </select>
            </td>
        </tr>
        <tr>
            <input type="button" value="戻る" routerLink="/main" routerLinkActive="myactive"/>
            <td colspan="2"><input type="submit" [disabled]="!IncomeForm.valid" /></td>
        </tr>
    </table>
</form>