<h5>貯金登録</h5>
<form [formGroup]="SavingForm" (ngSubmit)="inputSaving()">
    <table>
        <tr>
            <td>貯金年月日：</td>
            <td><input type="text" id="savingRegistDate" formControlName="savingRegistDate" /></td>
        </tr>
        <tr>
            <td>貯金内容：</td>
            <td><input type="text" id="savingName" formControlName="savingName" /></td>
        </tr>
        <tr>
            <td>貯金金額：</td>
            <td><input type="text" id="savingPrice" formControlName="savingPrice" /></td>
        </tr>
        <tr>
            <td><input type="button" value="戻る" routerLink="/main" routerLinkActive="myactive"/></td>
            <td colspan="2"><input type="submit" /></td>
        </tr>
    </table>
</form>